:root {
  --color-grey: #757575;
  --color-black: #212121;
  --color-accent: #2196f3;
  --font-logo: "Raleway";
  --color-white: #ffffff;
  --bcg-dark: #2f303a;
  --bcg-white: #f5f5f5;
  --bcg-grey: #f5f4fa;
  --icon-fill: #afb1b8;
  --border-grey: #eeeeee;
  --trans: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --trans-slow: 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--color-black);
  letter-spacing: 0.03em;
  background-color: var(--color-white);
}

.list {
  list-style-type: none;
}

.link {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: inherit;
}

.accent {
  color: var(--color-accent);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.no-scroll {
  overflow: hidden;
}

.hide {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
}

.btn-hero {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  min-width: 216px;
  height: 50px;
  color: var(--color-white);
  background: var(--color-accent);
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  min-width: 73px;
  height: 38px;
  padding-left: 22px;
  padding-right: 22px;
  background: var(--bcg-grey);
  border-radius: 4px;
  border: var(--bcg-grey);
  -webkit-transition: background-color var(--trans), color var(--trans), -webkit-box-shadow var(--trans);
  transition: background-color var(--trans), color var(--trans), -webkit-box-shadow var(--trans);
  transition: background-color var(--trans), color var(--trans), box-shadow var(--trans);
  transition: background-color var(--trans), color var(--trans), box-shadow var(--trans), -webkit-box-shadow var(--trans);
}
.btn:hover, .btn:focus {
  background-color: var(--color-accent);
  color: var(--color-white);
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-form {
  width: 200px;
  height: 50px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity var(--trans-slow);
  transition: opacity var(--trans-slow);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform var(--trans-slow);
  transition: -webkit-transform var(--trans-slow);
  transition: transform var(--trans-slow);
  transition: transform var(--trans-slow), -webkit-transform var(--trans-slow);
  width: 528px;
  height: 581px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--color-white);
}

.modal-button-icon:hover {
  fill: var(--color-accent);
  cursor: pointer;
}

.block-form {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.title-form {
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.label-item-form {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.input-form {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 43px;
  -webkit-transition: outline-color var(--trans);
  transition: outline-color var(--trans);
}
.input-form:focus {
  outline: 1px solid var(--color-accent);
}

.input-form:focus + .icon-form {
  fill: var(--color-accent);
}

.input-conteiner-form {
  margin-bottom: 10px;
  position: relative;
  width: 100%;
}

.icon-form {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: fill var(--trans);
  transition: fill var(--trans);
}

.block-form textarea {
  height: 120px;
  padding: 12px 16px;
  resize: none;
  margin-bottom: 20px;
}
.block-form textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}
.block-form textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}
.block-form textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}
.block-form textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}
.block-form textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
}

.label-plicy-form {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  color: var(--color-grey);
  padding-left: 36px;
  margin-bottom: 30px;
}
.label-plicy-form::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  margin-left: 12px;
  width: 16px;
  height: 15px;
  /* background-color: black; */
  border: 2px solid var(--color-black);
  border-radius: 2px;
}

.link-form {
  color: var(--color-accent);
}

.checkbox-policy:checked + .label-plicy-form::before {
  border: none;
  background-image: url(../../images/icon\ check.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.logo {
  font-family: var(--font-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 31px;
}
@media screen and (max-width: 480px) {
  .header__conteiner {
    max-width: 100%;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .header__conteiner {
    max-width: 100%;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  /* margin-right: 344px; */
  gap: 50px;
}

.list.navigation {
  gap: 50px;
  margin-left: auto;
}
@media screen and (max-width: 480px) {
  .list.navigation {
    display: none;
  }
}

.header__mobile-button {
  display: none;
}
@media screen and (max-width: 480px) {
  .header__mobile-button {
    position: absolute;
    z-index: 1;
    right: 15px;
    margin: 0;
    padding: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    border: none;
    background-color: transparent;
  }
}

.nav.list.navigation {
  margin-left: 93px;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .nav.list.navigation {
    margin-left: 88px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .list.navigation.contact {
    width: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    gap: 10px;
    margin-right: 15px;
  }
}

.header-contact {
  font-weight: 500;
  color: var(--color-grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-transition: color var(--trans);
  transition: color var(--trans);
}
.header-contact:hover, .header-contact:focus {
  color: var(--color-accent);
}

.nav-link {
  -webkit-transition: color var(--trans);
  transition: color var(--trans);
}
.nav-link:hover, .nav-link:focus {
  color: var(--color-accent);
}

.nav-icon {
  fill: var(--color-grey);
  -webkit-transition: fill var(--trans);
  transition: fill var(--trans);
}
.header-contact:hover .nav-icon, .header-contact:focus .nav-icon {
  fill: var(--color-accent);
}

.nav-link.link.accent {
  position: relative;
}
.nav-link.link.accent::after {
  content: "";
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  width: 100%;
  height: 4px;
  top: calc(100% + 30px);
  left: 0;
}

.hero {
  text-align: center;
  background-color: var(--bcg-dark);
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero.section {
  max-width: 1600px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/imghero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/imghero.jpg);
}
@media screen and (max-width: 480px) {
  .hero.section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/headerBacgoundMobile.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/headerBacgoundMobile.jpg);
    background-repeat: no-repeat;
    height: 400px;
    width: 100vw;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .hero.section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/headerBacgoundTablet.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/headerBacgoundTablet.jpg);
    background-repeat: no-repeat;
    height: 400px;
    width: 100vw;
  }
}

.hero__conteiner {
  width: 100vw;
}

.hero__title {
  color: var(--color-white);
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .hero__title {
    width: 360px;
    font-size: 26px;
    line-height: 1.6153846154;
    text-align: center;
  }
}

.hero__btn {
  margin-top: 30px;
}

.advantage {
  /* display: flex; */
}

.advantage__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .advantage__list {
    max-width: 768px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (max-width: 480px) {
  .advantage__list {
    max-width: 480px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.advantage__icon {
  width: 270px;
  height: 120px;
  padding-top: 25px;
  padding-bottom: 25px;
  background: var(--bcg-grey);
  border-radius: 4px;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .advantage__icon {
    width: 354px;
  }
}
@media screen and (max-width: 480px) {
  .advantage__icon {
    width: 450px;
  }
}

.advatage__item {
  height: 248px;
  padding-top: 25px;
  text-align: center;
}

.advatage-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.advatage-text__title {
  margin-top: 55px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  font-size: 14px;
  text-align: left;
}

.advatage-text__item {
  color: var(--color-grey);
  line-height: 1.7;
  margin-top: 10px;
  text-align: left;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .advatage-text__item {
    width: 354px;
  }
}

.portfolio {
  padding-top: 0px;
}
@media screen and (max-width: 768px) {
  .portfolio {
    display: none;
  }
}

.portfolio-title {
  margin-bottom: 50px;
}

.portfolio-block > .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
}

.portfolio-block li {
  position: relative;
}

.portfolio-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  padding: 27px 0;
  position: absolute;
  left: 50%;
  bottom: -35px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.team {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  background-color: var(--bcg-grey);
  margin-left: auto;
  margin-right: auto;
}

.team-title {
  margin-bottom: 50px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team-li {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.employee-name {
  font-size: 16px;
  font-weight: 500;
}

.employee-desc {
  font-weight: 400;
  color: var(--color-grey);
  margin-top: 10px;
}

.soc-group {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  fill: var(--icon-fill);
}

.conteiner-socialmesh {
  width: 44px;
  height: 44px;
}

.link-socialmesh {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition: background-color var(--trans);
  transition: background-color var(--trans);
}
.link-socialmesh:hover {
  background-color: var(--color-accent);
}

.icon-socialmesh {
  fill: var(--icon-fill);
  -webkit-transition: fill var(--trans);
  transition: fill var(--trans);
}
.link-socialmesh:hover .icon-socialmesh {
  fill: var(--color-white);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
}

.card-text {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--color-white);
}

.client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  color: var(--color-black);
  margin-bottom: 50px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients-li {
  width: 170px;
  height: 92px;
}

.client-link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--icon-fill);
  border-radius: 4px;
  -webkit-transition: border var(--trans);
  transition: border var(--trans);
}
.client-link:hover {
  border: 1px solid var(--color-accent);
}

.clients-icon {
  fill: var(--icon-fill);
  -webkit-transition: fill var(--trans);
  transition: fill var(--trans);
}
.client-link:hover .clients-icon {
  fill: var(--color-accent);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bcg-dark);
  color: var(--color-white);
}

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .footer-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.address {
  margin-top: 20px;
  font-style: normal;
  line-height: 1.7142857143;
}

.address-link {
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 768px) {
  .address-link {
    text-align: center;
  }
}

.address-item.mail {
  margin-top: 9px;
  margin-bottom: 9px;
}

.logo-address {
  margin-top: 28px;
  width: 236px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .logo-address {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.address-link,
.geopzition-link {
  -webkit-transition: color var(--trans);
  transition: color var(--trans);
  width: 231px;
  display: block;
}
@media screen and (max-width: 768px) {
  .address-link,
.geopzition-link {
    text-align: center;
  }
}
.address-link:hover, .address-link:focus,
.geopzition-link:hover,
.geopzition-link:focus {
  color: var(--color-accent);
}

.socialmesh-footer {
  margin-left: 70px;
}
@media screen and (max-width: 768px) {
  .socialmesh-footer {
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .socialmesh-footer {
    width: 100%;
    margin-top: 60px;
    display: inline-block;
    margin-left: 0;
  }
}

.footer-text-soc {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--color-white);
  text-align: center;
}

.footer-socialmesh-ul {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 768px) {
  .footer-socialmesh-ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-socialmesh-li {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background var(--trans);
  transition: background var(--trans);
}
.footer-socialmesh-li:hover {
  background: var(--color-accent);
}

.footer-socialmesh-link {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-socialmesh-icon {
  fill: var(--color-white);
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media screen and (max-width: 768px) {
  .footer-form {
    margin-left: 0;
    margin-top: 60px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
    width: 450px;
  }
}

/* .footer-form-title {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: #ffffff;
} */
.footer-form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 358px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: #ffffff;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .footer-form-label {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.footer-form-input {
  width: 100%;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-form-input:focus {
  outline: 1px solid var(--color-accent);
  border-radius: 4px;
}

.footer-form-btn {
  position: relative;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  text-align: start;
  padding-left: 28px;
  color: var(--color-white);
  background: var(--color-accent);
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}
@media screen and (max-width: 768px) {
  .footer-form-btn {
    margin-left: 0;
  }
}

.footer-form-icon {
  fill: var(--color-white);
  position: absolute;
  top: 13px;
  right: 28px;
}

.portfolio-gallery > .title {
  display: none;
}

.portfolio-gallery > .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list.button {
  gap: 8px;
  margin-bottom: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio-list {
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.conteiner-link.link {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--trans);
  transition: -webkit-box-shadow var(--trans);
  transition: box-shadow var(--trans);
  transition: box-shadow var(--trans), -webkit-box-shadow var(--trans);
}
.conteiner-link.link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cont-wrap {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-left: 1px solid var(--border-grey);
  border-right: 1px solid var(--border-grey);
  border-bottom: 1px solid var(--border-grey);
}

.img-conteiner {
  position: relative;
  overflow: hidden;
  /* text-align: center; */
}

.img-conteiner .text-on-img {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--color-white);
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  /* top: 0; */
  padding: 63px 24px;
  -webkit-transition: visibility var(--trans), -webkit-transform var(--trans);
  transition: visibility var(--trans), -webkit-transform var(--trans);
  transition: transform var(--trans), visibility var(--trans);
  transition: transform var(--trans), visibility var(--trans), -webkit-transform var(--trans);
}

.conteiner-link.link:hover .text-on-img {
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.portfolio-list h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-list p {
  font-size: 16px;
  line-height: 1.875;
  color: var(--color-grey);
}

.mobil-model {
  display: none;
}

.mobil-model.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  width: 480px;
  height: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  background-color: var(--color-white);
  overflow: auto;
}

.header__mobile-button .close-mobile-menu {
  display: none;
}

.header__mobile-button.is-open .close-mobile-menu {
  display: block;
}

.header__mobile-button.is-open .mobile-menu {
  display: none;
}

.mobil-modal__nav-list {
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
}

.mobil-modal__nav-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--color-black);
}
.mobil-modal__nav-link:hover {
  color: var(--color-accent);
}

.mobil-modal__contact-list {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
}

.mobil-modal__contact-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: var(--color-accent);
}

.mobil-modal__soc-list {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.mobil-modal__soc-item {
  position: relative;
}
.mobil-modal__soc-item:not(:first-child)::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  height: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.mobil-modal__soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--color-accent);
}

.mobil-modal__button {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: #fff;
  border: none;
}
.mobil-modal__button:hover {
  fill: var(--color-accent);
  cursor: pointer;
}

.mobil-modal__contact-link.mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--color-grey);
}/*# sourceMappingURL=main.css.map */