:root {
    --color-grey: #757575;
    --color-black: #212121;
    --color-accent: #2196f3;
    --font-logo: 'Raleway';
    --color-white: #ffffff;
    --bcg-dark: #2f303a;
    --bcg-white: #f5f5f5;
    --bcg-grey: #f5f4fa;
    --icon-fill: #afb1b8;
    --border-grey: #eeeeee;
    --trans: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --trans-slow: 400ms cubic-bezier(0.4, 0, 0.2, 1);
}