.mobil-model {
  display: none;
}

.mobil-model.is-open {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 480px;
  height: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  background-color: var(--color-white);
  overflow: auto;
}

.header__mobile-button .close-mobile-menu {
  display: none;
}

.header__mobile-button.is-open .close-mobile-menu {
  display: block;
}

.header__mobile-button.is-open .mobile-menu {
  display: none;
}

.mobil-modal__nav-list {
  width: 230px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.mobil-modal__nav-link {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: var(--color-black);
  &:hover {
    color: var(--color-accent);
  }
}

.mobil-modal__contact-list {
  // margin-top: 306px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.mobil-modal__contact-link {
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: var(--color-accent);
}
.mobil-modal__soc-list {
  margin-top: 64px;
  display: flex;
  gap: 20px;
}
.mobil-modal__soc-item {
  position: relative;
  &:not(:first-child)::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    height: 22px;
    border: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.mobil-modal__soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: var(--color-accent);
}

.mobil-modal__button {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: #fff;
  border: none;
  &:hover {
    fill: var(--color-accent);
    cursor: pointer;
  }
}

.mobil-modal__contact-link.mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--color-grey);
}

