      <!-- Наші переваги -->
      <section class="section">
        <div class="advantage container">
          <h2 class="advantage__title hide">Наші переваги</h2>
          <ul class="advantage__list">
            <li class="advatage__item">
              <svg class="advantage__icon" width="70" height="70">
                <use href="./images/icons.svg#antenna"></use>
              </svg>
              <h3 class="advatage-text__title">УВАГА ДО ДЕТАЛЕЙ</h3>
              <p class="advatage-text__item">
                Ідейні міркування, і навіть початок повсякденної роботи з формування позиції.
              </p>
            </li>
            <li class="advatage__item">
              <svg class="advantage__icon" width="70" height="70">
                <use href="./images/icons.svg#clock"></use>
              </svg>
              <h3 class="advatage-text__title">ПУНКТУАЛЬНІСТЬ</h3>
              <p class="advatage-text__item">
                Завдання організації, особливо рамки і місце навчання кадрів тягне у себе.
              </p>
            </li>
            <li class="advatage__item">
              <svg class="advantage__icon" width="70" height="70">
                <use href="./images/icons.svg#diagram"></use>
              </svg>
              <h3 class="advatage-text__title">ПЛАНУВАННЯ</h3>
              <p class="advatage-text__item">
                Так само консультація з широким активом значною мірою зумовлює.
              </p>
            </li>
            <li class="advatage__item">
              <svg class="advantage__icon" width="70" height="70">
                <use href="./images/icons.svg#astronaut"></use>
              </svg>
              <h3 class="advatage-text__title">СУЧАСНІ ТЕХНОЛОГІЇ</h3>
              <p class="advatage-text__item">
                Значимість цих проблем настільки очевидна, що реалізація планових завдань.
              </p>
            </li>
          </ul>
        </div>
      </section>