      <!-- Постійні клієнти -->
      <section class="clients section">
        <h2 class="client-title">Постійні клієнти</h2>
        <ul class="clients-list">
          <li class="clients-li">
            <a href="" class="client-link">
              <svg class="clients-icon" width="106" height="60">
                <use href="./images/icons.svg#client1"></use>
              </svg>
            </a>
          </li>
          <li class="clients-li">
            <a href="" class="client-link">
              <svg class="clients-icon" width="106" height="60">
                <use href="./images/icons.svg#client2"></use>
              </svg>
            </a>
          </li>
          <li class="clients-li">
            <a href="" class="client-link">
              <svg class="clients-icon" width="106" height="60">
                <use href="./images/icons.svg#client3"></use>
              </svg>
            </a>
          </li>
          <li class="clients-li">
            <a href="" class="client-link">
              <svg class="clients-icon" width="106" height="60">
                <use href="./images/icons.svg#client4"></use>
              </svg>
            </a>
          </li>
          <li class="clients-li">
            <a href="" class="client-link">
              <svg class="clients-icon" width="106" height="60">
                <use href="./images/icons.svg#client5"></use>
              </svg>
            </a>
          </li>
          <li class="clients-li">
            <a href="" class="client-link">
              <svg class="clients-icon" width="106" height="60">
                <use href="./images/icons.svg#client6"></use>
              </svg>
            </a>
          </li>
        </ul>
      </section>