    <!-- Модалка мобильника-->
    <div class="mobil-model js-menu-container">
      <ul class="mobil-modal__nav-list">
        <li class="mobil-modal__nav-item">
          <a href="" class="mobil-modal__nav-link link">Студія</a>
        </li>
        <li class="mobil-modal__nav-item">
          <a href="" class="mobil-modal__nav-link link">Портфоліо</a>
        </li>
        <li class="mobil-modal__nav-item">
          <a href="" class="mobil-modal__nav-link link">Контакти</a>
        </li>
      </ul>

      <div class="mobil-modal__bottom">
        <ul class="mobil-modal__contact-list">
          <li class="mobil-modal__contact-item">
            <a href="tel:+380961111111" class="mobil-modal__contact-link link">+38 096 111 11 11</a>
          </li>
          <li class="mobil-modal__contact-item">
            <a href="mailto:info@devstudio.com" class="mobil-modal__contact-link link mail"
              >info@devstudio.com</a
            >
          </li>
        </ul>

        <ul class="mobil-modal__soc-list">
          <li class="mobil-modal__soc-item">
            <a href="" class="mobil-modal__soc-link link">Instagram</a>
          </li>
          <li class="mobil-modal__soc-item">
            <a href="" class="mobil-modal__soc-link link">Twitter</a>
          </li>
          <li class="mobil-modal__soc-item">
            <a href="" class="mobil-modal__soc-link link">Facebook</a>
          </li>
          <li class="mobil-modal__soc-item">
            <a href="" class="mobil-modal__soc-link link">LinkedIn</a>
          </li>
        </ul>
      </div>

      <!-- <button class="mobil-modal__button js-close-menu" type="button">
        <svg width="40" height="40">
          <use href="../../images/icons.svg#close-mobile-menu"></use>
        </svg>
      </button> -->
    </div>