     <!-- Чим ми займаємося -->
      <section class="portfolio section">
        <div class="portfolio-block container">
          <h2 class="portfolio-title">Чим ми займаємося</h2>
          <ul class="list">
            <li>
              <img src="./images/programming.jpg" alt="програмування" width="370" height="294" />
              <p class="portfolio-text">Десктопні додатки</p>
            </li>
            <li>
              <img
                src="./images/adaptive.jpg"
                alt="адаптивні технології"
                width="370"
                height="294"
              />
              <p class="portfolio-text">Мобільні додатки</p>
            </li>
            <li>
              <img src="./images/color.jpg" alt="палітра" width="370" height="294" />
              <p class="portfolio-text">Дизайнерські рішення</p>
            </li>
          </ul>
        </div>
      </section>