      <!-- Наша команда -->
      <section class="team section">
        <div class="team-block container">
          <h2 class="team-title">Наша команда</h2>
          <ul class="team__list">
            <li class="team-li">
              <picture>
                <source
                  srcset="./images/igordemiyanenko.jpg 1x, ./images/igordemiyanenkoX2.jpg 2x"
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="./images/tabIgordemiyanenko.jpg 1x, ./images/tabIgordemiyanenkoX2.jpg 2x"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="./images/mobIgordemiyanenko.jpg 1x, ./images/mobIgordemiyanenkoX2.jpg 2x"
                  media="(min-width: 480px)"
                />
                <img src="./images/igordemiyanenko.jpg" alt="портрет Product Designer" />
              </picture>
              <div class="card-text">
                <h3 class="employee-name">Ігор Дем'яненко</h3>
                <p class="employee-desc">Product Designer</p>
                <ul class="soc-group">
                  <li class="conteiner-socialmesh">
                    <a href="" class="link-socialmesh link">
                      <svg class="icon-socialmesh" width="20" height="20">
                        <use href="./images/icons.svg#instagram"></use>
                      </svg>
                    </a>
                  </li>

                  <li class="conteiner-socialmesh">
                    <a href="" class="link-socialmesh link">
                      <svg class="icon-socialmesh" width="20" height="20">
                        <use href="./images/icons.svg#twitter"></use>
                      </svg>
                    </a>
                  </li>

                  <li class="conteiner-socialmesh">
                    <a href="" class="link-socialmesh link">
                      <svg class="icon-socialmesh" width="20" height="20">
                        <use href="./images/icons.svg#facebook"></use>
                      </svg>
                    </a>
                  </li>

                  <li class="conteiner-socialmesh">
                    <a href="" class="link-socialmesh link">
                      <svg class="icon-socialmesh" width="20" height="20">
                        <use href="./images/icons.svg#linkedin"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="team-li">
              <picture>
                <source
                  srcset="./images/olgarepina.jpg 1x, ./images/olgarepinaX2.jpg 2x"
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="./images/tabOlgarepina.jpg 1x, ./images/tabOlgarepinaX2.jpg 2x"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="./images/mobOlgarepina.jpg 1x, ./images/mobOlgarepinaX2.jpg 2x"
                  media="(min-width: 480px)"
                />
                <img src="./images/olgarepina.jpg" alt="портрет Frontend Developer" />
              </picture>
              <div class="card-text">
                <h3 class="employee-name">Олга Рєпіна</h3>
                <p class="employee-desc">Front Developer</p>
                <ul class="soc-group">
                  <li class="conteiner-socialmesh">
                    <a href="" class="link-socialmesh link">
                      <svg class="icon-socialmesh" width="20" height="20">
                        <use href="./images/icons.svg#instagram"></use>
                      </svg>
                    </a>
                  </li>

                  <li class="conteiner-socialmesh">
                    <a href="" class="link-socialmesh link">
                      <svg class="icon-socialmesh" width="20" height="20">
                        <use href="./images/icons.svg#twitter"></use>
                      </svg>
                    </a>
                  </li>

                  <li class="conteiner-socialmesh">
                    <a href="" class="link-socialmesh link">
                      <svg class="icon-socialmesh" width="20" height="20">
                        <use href="./images/icons.svg#facebook"></use>
                      </svg>
                    </a>
                  </li>

                  <li class="conteiner-socialmesh">
                    <a href="" class="link-socialmesh link">
                      <svg class="icon-socialmesh" width="20" height="20">
                        <use href="./images/icons.svg#linkedin"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="team-li">
              <picture>
                <source
                  srcset="./images/mykolatarasov.jpg 1x, ./images/mykolatarasovX2.jpg 2x"
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="./images/tabMykolatarasov.jpg 1x, ./images/tabMykolatarasovX2.jpg 2x"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="./images/mobMykolatarasov.jpg 1x, ./images/mobMykolatarasovX2.jpg 2x"
                  media="(min-width: 480px)"
                />
                <img src="./images/mykolatarasov.jpg" alt="портрет Frontend Developer" />
              </picture>
              <div class="card-text">
                <h3 class="employee-name">Микола Тарасов</h3>
                <p class="employee-desc">Marketing</p>
                <ul class="soc-group">
                  <li class="conteiner-socialmesh">
                    <a href="" class="link-socialmesh link">
                      <svg class="icon-socialmesh" width="20" height="20">
                        <use href="./images/icons.svg#instagram"></use>
                      </svg>
                    </a>
                  </li>

                  <li class="conteiner-socialmesh">
                    <a href="" class="link-socialmesh link">
                      <svg class="icon-socialmesh" width="20" height="20">
                        <use href="./images/icons.svg#twitter"></use>
                      </svg>
                    </a>
                  </li>

                  <li class="conteiner-socialmesh">
                    <a href="" class="link-socialmesh link">
                      <svg class="icon-socialmesh" width="20" height="20">
                        <use href="./images/icons.svg#facebook"></use>
                      </svg>
                    </a>
                  </li>

                  <li class="conteiner-socialmesh">
                    <a href="" class="link-socialmesh link">
                      <svg class="icon-socialmesh" width="20" height="20">
                        <use href="./images/icons.svg#linkedin"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="team-li">
              <picture>
                <source
                  srcset="./images/myhailoermakov.jpg 1x, ./images/myhailoermakovX2.jpg 2x"
                  media="(min-width: 1200px)"
                />
                <source
                  srcset="./images/tabMyhailoermakov.jpg 1x, ./images/tabMyhailoermakovX2.jpg 2x"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="./images/mobMyhailoermakov.jpg 1x, ./images/mobMyhailoermakovX2.jpg 2x"
                  media="(min-width: 480px)"
                />
                <img src="./images/myhailoermakov.jpg" alt="портрет Frontend Developer" />
              </picture>
              <div class="card-text">
                <h3 class="employee-name">Михайло Єрмаков</h3>
                <p class="employee-desc">UI Designer</p>
                <ul class="soc-group">
                  <li class="conteiner-socialmesh">
                    <a href="" class="link-socialmesh link">
                      <svg class="icon-socialmesh" width="20" height="20">
                        <use href="./images/icons.svg#instagram"></use>
                      </svg>
                    </a>
                  </li>

                  <li class="conteiner-socialmesh">
                    <a href="" class="link-socialmesh link">
                      <svg class="icon-socialmesh" width="20" height="20">
                        <use href="./images/icons.svg#twitter"></use>
                      </svg>
                    </a>
                  </li>

                  <li class="conteiner-socialmesh">
                    <a href="" class="link-socialmesh link">
                      <svg class="icon-socialmesh" width="20" height="20">
                        <use href="./images/icons.svg#facebook"></use>
                      </svg>
                    </a>
                  </li>

                  <li class="conteiner-socialmesh">
                    <a href="" class="link-socialmesh link">
                      <svg class="icon-socialmesh" width="20" height="20">
                        <use href="./images/icons.svg#linkedin"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </section>