.portfolio {
  padding-top: 0px;
}

.portfolio-title {
  margin-bottom: 50px;
}

.portfolio-block > .list {
  display: flex;
  gap: 30px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
}

.portfolio-block li {
  position: relative;
}

.portfolio-text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: rgba(47, 48, 58, 0.8);

  width: 100%;

  padding: 27px 0;

  position: absolute;
  left: 50%;
  bottom: -35px;
  transform: translate(-50%, -50%);
}
